@inherits UmbracoViewPage<BasketMenuModel>
@using BrambleBerry.Kitchen.Models

<ul id="basket-menu">
    <li>
        @Html.Action("Identity", "Authorization")
    </li>
    <li><a href="@Model.BasketPageUrl"><i class="fa fa-shopping-cart"></i> (@Model.ItemCount)</a></li>
    <li>@Model.TotalPrice.ToString("C")</li>
</ul>