
.categoryPicker-prevalueEditor {
    line-height: normal;
}

.categoryPicker-prevalueEditor .start {
    overflow: hidden;
}

.categoryPicker-prevalueEditor .bar {
    overflow: hidden;
    padding: 5px;
    font-weight: bold;
}

.categoryPicker-prevalueEditor .category {
    clear: both;
    border: 1px solid #f7f6f6;
    margin-bottom: 10px;
}

.categoryPicker-prevalueEditor .category .bar {
    background: #f7f6f6;
}

.categoryPicker-prevalueEditor .category strong {
    font-size: 1.4em;
}

.categoryPicker-prevalueEditor .subcategory {
    clear: both;
    border: 1px solid #fcfcfc;
}

.categoryPicker-prevalueEditor .subcategory .bar {
    background: #fcfcfc;
    padding-left: 25px;
}

.categoryPicker-prevalueEditor .subcategory strong {
    font-size: 1.3em;
}

.categoryPicker-prevalueEditor .filter {
    clear: both;
    border: 1px solid #fff;
}

.categoryPicker-prevalueEditor .filter .bar {
    background: #fff;
    padding: 2px 5px;
    padding-left: 45px;
}

.categoryPicker-prevalueEditor .filter strong {
    font-size: 1.2em;
}

.categoryPicker-prevalueEditor .description {
    float: left;
}

.categoryPicker-prevalueEditor .actions {
    float: right;
}

.categoryPicker-prevalueEditor .icon {
    font-size: 18px;
}

.categoryPicker-prevalueEditor .category-editor {
    clear: both;
    background: #fff;
}

.categoryPicker-prevalueEditor .category-editor div {
    padding: 10px 10%;
    overflow: hidden;
}

.categoryPicker-prevalueEditor .category-editor label {
    display: block;
    float: left;
    width: 20%;
}

.categoryPicker-prevalueEditor .category-editor span {
    display: block;
    float: left;
    width: 70%;
}

.categoryPicker .selected {
    background: yellow;
}


.categoryPicker-editor {

}

.categoryPicker-dialog {

}


