@using Controllers
@using Merchello.Core
@using Constants = Merchello.Core.Constants
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    var paymentMethods = MerchelloContext.Current.Gateways.Payment.GetPaymentGatewayMethods().Select(x => new SelectListItem()
    {
        Value = x.PaymentMethod.Key.ToString(),
        Text = x.PaymentMethod.Name
    });
}
<h3>Payment Method</h3>
	
@using (Html.BeginUmbracoForm<CheckoutController>("SavePayment", new {area = "MerchelloExample"}, new {@class = "form form-horizontal", role = "form"}))
{

    @Html.DropDownList("paymentMethodKey", paymentMethods, new {@class = "form-control"})

    <input type="submit" value="Proceed to receipt"  />
}
	