@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
 
<h2>Thank You!  Come back Soon!</h2>
    
@Html.Action("RenderReceipt", "Checkout", new { area = "MerchelloExample", invoiceKey = Request.QueryString["inv"].DecryptWithMachineKey() })
