@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Merchello.Core
@using Controllers
@{
    Layout = null;
}
   	
    <h2>Address</h2>
<table>
    <tr>
        <td>
            
    @using (Html.BeginUmbracoForm<CheckoutController>("SaveAddress", new { area = "MerchelloExample" }, new { @class = "form form-horizontal", role = "form" }))
    {
	
        @Html.Action("RenderAddressForm", "Checkout", new { area = "MerchelloExample", addressType = AddressType.Shipping })
        
        <div class="text-right">
            <input type="submit" value="Proceed to Next Step" />
        </div>


    }            

        </td>
		<td width="100">
		</td>
        <td >
            @Html.Action("RenderInvoiceSummary", "Checkout", new { area = "MerchelloExample", dataFromInvoice=false, invoiceKey = Guid.Empty})

        </td>
    </tr>
</table>	


    