@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<table>
    <tr>
        <td>
<td >
            @Html.Action("RenderInvoiceSummary", "Checkout", new { area = "MerchelloExample", dataFromInvoice=false, invoiceKey = Guid.Empty})

        </td>
    </tr>
</table>