@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<html>
<head>
    <noscript>
        <link rel="stylesheet" href="/css/MerchelloExample.css" />
    </noscript>
</head>
<body>
@RenderBody()
</body>
</html>	