@inherits UmbracoViewPage<TextPageViewModel>
@using BrambleBerry.Kitchen.Models.ViewModels
@{
    Layout = "OneColumn.cshtml";
}

<div id="primary" class="col-s-6 offset-s-3">
    @Model.BodyText
</div>