<div data-ng-controller="BrambleBerry.CategoryEditor.PrevalueEditorController" class="categoryPicker-prevalueEditor">
    <div class="start"><span class="actions"><a href data-prevent-default data-ng-click="newRootCategory()"><i class="icon icon-add blue"> Add a new category</i></a></span></div>
    <!-- Categories -->
    <div data-ui-sortable ng-model="model.value.categories">
        <div ng-repeat="category in model.value.categories" class="category">
            <div class="bar">
                <span class="description">
                    <i class="icon icon-thumbnails-small blue"></i>
                    <strong>{{ category.name }}</strong>
                </span>
                <span class="actions">
                    <i data-ng-click="newSubCategory(category)" class="icon icon-add blue" title="Add Sub-Category/Filter"></i>
                    <i data-ng-click="editCategory(category)" class="icon icon-edit blue" title="Edit Category"></i>
                    <i data-ng-click="deleteCategory(model.value, category)" class="icon icon-remove blue" title="Remove Category"></i>
                </span>
                <!-- Editor Category -->
                <div class="category-editor" ng-show="editingCategory != null && editingCategory.key == category.key">
                    <div><label>Key:</label><span>{{ editingCategory.key }}</span></div>
                    <div><label>Name:</label><span><input type="text" ng-model="editingCategory.name" /></span></div>
                    <div><label>Content:</label><span><a href data-prevent-default ng-click="openContentPicker()">{{ pickedNodeName }}</a></span></div>
                    <div><a data-prevent-default ng-click="saveCategory(model.value, editingCategory)" class="btn btn-primary">Save</a> <a data-prevent-default ng-click="cancel()" class="btn">Cancel</a></div>
                </div>
            </div>
            <!-- Sub-Category -->
            <div data-ui-sortable ng-model="category.categories">
                <div ng-repeat="category2 in category.categories" class="subcategory">
                    <div class="bar">
                        <i class="icon blue" ng-class="!category2.isFilter ? 'icon-thumbnails-small' : 'icon-filter'"></i>
                        <strong>{{ category2.name }}</strong>
                        <span class="actions">
                            <a href="" data-prevent-default data-ng-click="newFilter(category2)" class="icon icon-add blue" title="Add Filter" ng-show="!category2.isFilter"></a>
                            <a href="" data-prevent-default data-ng-click="editCategory(category2)" class="icon icon-edit blue" title="Edit {{ category2.isFilter ? 'Filter' : 'Category' }}"></a>
                            <a href="" data-prevent-default data-ng-click="deleteCategory(category, category2)" class="icon icon-remove blue" title="Remove {{ category2.isFilter ? 'Filter' : 'Category' }}"></a>
                        </span>
                        <!-- Editor Sub-Category -->
                        <div class="category-editor" ng-show="editingCategory != null && editingCategory.key == category2.key">
                            <div><label>Key:</label><span>{{ editingCategory.key }}</span></div>
                            <div><label>Is Filter?:</label><span><input type="checkbox" ng-model="editingCategory.isFilter" /></span></div>
                            <div><label>Name:</label><span><input type="text" ng-model="editingCategory.name" /></span></div>
                            <div ng-show="!editingCategory.isFilter"><label>Content:</label><span><a href data-prevent-default ng-click="openContentPicker()">{{ pickedNodeName }}</a></span></div>
                            <div><a data-prevent-default ng-click="saveCategory(category, editingCategory)" class="btn btn-primary">Save</a> <a data-prevent-default ng-click="cancel()" class="btn">Cancel</a></div>
                        </div>
                    </div>
                    <!-- Filters -->
                    <div data-ui-sortable ng-model="category2.categories">
                        <div ng-repeat="category3 in category2.categories" class="filter">
                            <div class="bar">
                                <i class="icon icon-filter blue"></i>
                                <strong>{{ category3.name }}</strong>
                                <span class="actions">
                                    <a href="" data-prevent-default data-ng-click="editCategory(category3)" class="icon icon-edit blue" title="Edit Filter"></a>
                                    <a href="" data-prevent-default data-ng-click="deleteCategory(category2, category3)" class="icon icon-remove blue" title="Remove Filter"></a>
                                </span>
                                <!-- Editor Filter -->
                                <div class="category-editor" ng-show="editingCategory != null && editingCategory.key == category3.key">
                                    <div><label>Key:</label><span>{{ editingCategory.key }}</span></div>
                                    <div><label>Name:</label><span><input type="text" ng-model="editingCategory.name" /></span></div>
                                    <div><a data-prevent-default ng-click="saveCategory(category2, editingCategory)" class="btn btn-primary">Save</a> <a data-prevent-default ng-click="cancel()" class="btn">Cancel</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Filter -->
                    <div class="filter" ng-show="newCategory != null && newCategory.parent == category2.key">
                        <div class="bar">
                            <i class="icon icon-filter blue"></i>
                            <strong>{{ newCategory.category.name }}</strong>
                        </div>
                        <div class="category-editor">
                            <div><label>Key:</label><span>{{ safeKey(category2.key, newCategory.category.name) }}</span></div>
                            <div><label>Name:</label><span><input type="text" ng-model="newCategory.category.name" /></span></div>
                            <div><a data-prevent-default ng-click="addCategory(category2, newCategory.category)" class="btn btn-primary">Add Filter</a> <a data-prevent-default ng-click="cancel()" class="btn">Cancel</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Sub-Category -->
            <div class="subcategory" ng-show="newCategory != null && newCategory.parent == category.key">
                <div class="bar">
                    <i class="icon blue" ng-class="!category2.isFilter ? 'icon-thumbnails-small' : 'icon-filter'"></i>
                    <strong>{{ newCategory.category.name }}</strong>
                </div>
                <div class="category-editor">
                    <div><label>Key:</label><span>{{ safeKey(category.key, newCategory.category.name) }}</span></div>
                    <div><label>Is Filter?:</label><span><input type="checkbox" ng-model="newCategory.category.isFilter" /></span></div>
                    <div><label>Name:</label><span><input type="text" ng-model="newCategory.category.name" /></span></div>
                    <div ng-show="!newCategory.category.isFilter"><label>Content:</label><span><a href data-prevent-default ng-click="openContentPicker()">{{ pickedNodeName }}</a></span></div>
                    <div><a data-prevent-default ng-click="addCategory(category, newCategory.category)" class="btn btn-primary">Add {{ newCategory.category.isFilter ? "Filter" : "Sub-Category"}}</a> <a data-prevent-default ng-click="cancel()" class="btn">Cancel</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Category -->
    <div class="category" ng-show ="newCategory != null && newCategory.parent == null">
        <div class="bar">
            <i class="icon icon-thumbnails-small blue"></i>
            <strong>{{ newCategory.category.name }}</strong>
        </div>
        <div class="category-editor">
            <div><label>Key:</label><span>{{ safeKey("", newCategory.category.name) }}</span></div>
            <div><label>Name:</label><span><input type="text" ng-model="newCategory.category.name" /></span></div>
            <div><label>Content:</label><span><a href data-prevent-default ng-click="openContentPicker()">{{ pickedNodeName }}</a></span></div>
            <div><a data-prevent-default ng-click="addCategory(model.value, newCategory.category)" class="btn btn-primary">Add Category</a> <a data-prevent-default ng-click="cancel()" class="btn">Cancel</a></div>
        </div>
    </div>

    <hr />
    <div class="model-data">
        <textarea style="width: 100%; height: 250px;">{{ model.value | json }}</textarea>
    </div>
</div>