<div data-ng-controller="BrambleBerry.CategoryEditor.CategoryDialogController" class="categoryPicker-prevalueEditor">
    <div class="umb-panel-header">
        <p>Select categories...</p>
    </div>
    <div class="categoryPicker-editor umb-panel-body with-footer">
        <div>
            <div>
                <div ng-repeat="category in dialogData.categories.categories" class="category">
                    <div class="bar">
                        <span class="description">
                            <i class="icon" ng-class="{true: 'icon-check orange', false: 'icon-thumbnails-small blue'}[isSelected(category.key)]"></i>
                            <strong>{{ category.name }}</strong>
                        </span>
                    </div>
                    <!-- Sub-Category -->
                    <div ng-repeat="category2 in category.categories" class="subcategory">
                        <div class="bar" ng-click="selectCategory([category, category2])">
                            <i class="icon" ng-class="{true: 'icon-check orange', false: !category2.isFilter ? 'icon-thumbnails-small blue' : 'icon-filter blue'}[isSelected(category2.key)]"></i>
                            <strong>{{ category2.name }}</strong>
                        </div>
                        <!-- Filters -->
                        <div ng-repeat="category3 in category2.categories" class="filter">
                            <div class="bar" ng-click="selectCategory([category, category2, category3])">
                                <i class="icon" ng-class="{true: 'icon-check orange', false: 'icon-filter blue'}[isSelected(category3.key)]"></i>
                                <strong>{{ category3.name }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="umb-panel-footer">
        <div class="btn-toolbar umb-btn-toolbar pull-right">
            <a href class="btn btn-link" data-ng-click="close()">
                <localize key="cancel" />
            </a>
            <a href class="btn btn-primary" data-ng-click="submit(dialogData.selectedCategories)">
                <localize key="buttons_select" />
            </a>
        </div>
    </div>
</div>