@inherits UmbracoTemplatePage
@{
    Layout = "RosettaBasePage.cshtml";
}

<h1>@CurrentPage.Name</h1>

<div class="bs-docs-example">

@* We put the controllers in their own Mvc Area using Umbraco's native [PluginController([AreaName])] attribute *@
@Html.Action("RenderBasket", "Basket", new { area = "RosettaStone"})
    
    
</div>


<div class="row">
    <div class="col-lg-12">
        @CurrentPage.instruction
    </div>
</div>



