<div data-ng-controller="BrambleBerry.CategoryEditor.CategoryPickerController" class="categoryPicker-prevalueEditor">

    <div class="categoryPicker-editor">
        <div class="selector">
            <a data-ng-click="selectCategories()" class="btn btn-primary">
                Select Categories...
            </a>
        </div>
        <div>
            <div>
                <div ng-repeat="category in model.config.categories.categories" class="category" ng-show="isSelected(category.key)">
                    <div class="bar">
                        <span class="description">
                            <i class="icon icon-thumbnails-small blue"></i>
                            <strong>{{ category.name }}</strong>
                        </span>
                        <span class="actions">
                            <i data-ng-click="deleteCategory(category)" class="icon icon-remove blue" title="Remove Category"></i>
                        </span>
                    </div>
                    <!-- Sub-Category -->
                    <div ng-repeat="category2 in category.categories" class="subcategory" ng-show="isSelected(category2.key)">
                        <div class="bar">
                            <i class="icon blue" ng-class="!category2.isFilter ? 'icon-thumbnails-small' : 'icon-filter'"></i>
                            <strong>{{ category2.name }}</strong>
                            <span class="actions">
                                <a href="" data-prevent-default data-ng-click="deleteCategory(category2)" class="icon icon-remove blue" title="Remove {{ category2.isFilter ? 'Filter' : 'Category' }}"></a>
                            </span>
                        </div>
                        <!-- Filters -->
                        <div ng-repeat="category3 in category2.categories" class="filter" ng-show="isSelected(category3.key)">
                            <div class="bar">
                                <i class="icon icon-filter blue"></i>
                                <strong>{{ category3.name }}</strong>
                                <span class="actions">
                                    <a href="" data-prevent-default data-ng-click="deleteCategory(category3)" class="icon icon-remove blue" title="Remove Filter"></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>