@inherits UmbracoViewPage<BrambleBerry.Kitchen.Models.ViewModels.WishListViewModel>
@using System.Web.Configuration
@using BrambleBerry.Kitchen.Models
@{
    Layout = "OneColumn.cshtml";
}
@if (Model.UserNotFound)
{
    <h1>User wasnt found: @Model.CustomerKey</h1>
}
@if (Model.WishlistNotFound)
{
    <h1>Wishlist Not found</h1>
}
 @{
     throw new Exception("hi");
 }
<div id="primary" class="col-s-6 offset-s-3">
    @Model.BodyText
</div>