@inherits UmbracoViewPage<BrambleBerry.Kitchen.Models.Account.MyOrders.IndexViewModel>
@{

}

<nav id="orders-menu">
    <ul>
        <li>TODO: Set active class on links</li>
        <li><a href="/account/my-orders" role="button">Orders listed by date</a></li>
        <li><a href="/account/my-orders/open/" role="button">Open Orders</a></li>
        <li><a href="/account/my-orders/cancelled/" role="button">Cancelled Orders</a></li>
    </ul>
</nav>