@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- MerchelloSampleProductImages -->
@{
    foreach (IPublishedContent child in CurrentPage.Children)
    {
        if (child.Name == "Catalog")
        {
            //@child.Name

            foreach (IPublishedContent product in child.Children)
            {

                <!-- category found -->
                <div >
                    <a href="@product.Url">
                        <div >
                            <h2>@product.Name</h2>
                            @if (product.HasProperty("categoryImage") && product.HasValue("categoryImage"))
                            {
                                IPublishedContent image = Umbraco.Media(product.GetPropertyValue("categoryImage"));
                                <img height="75" src="@image.Url" alt="@HttpUtility.HtmlEncode(image.Name)" />
                            }
                        </div>
                    </a>
                </div>

            }
        }
    }
}

<!-- MerchelloSampleProductImages -->

        